<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<!-- 
		<typeAlias type="com.kh.spring.board.model.vo.Board" alias="board" />
		<typeAlias type="com.kh.spring.board.model.vo.Reply" alias="reply" />
		 -->
		 <typeAlias type="com.kh.aniht.member.model.vo.Member" alias="member" />
		 <typeAlias type="com.kh.aniht.question.model.vo.Question" alias="faq" />
		 <typeAlias type="com.kh.aniht.review.model.vo.Review" alias="review" />
		 <typeAlias type="com.kh.aniht.magazine.model.vo.Magazine" alias="maga"/>
		 <typeAlias type="com.kh.aniht.cart.model.vo.Cart" alias="cart"/>
		 <typeAlias type="com.kh.aniht.order.model.vo.Order" alias="order"/>
	</typeAliases>
	
	<mappers>
		<!--  
		<mapper resource="/mappers/board-mapper.xml" />
		 -->
		 <mapper resource="/mappers/member-mapper.xml" />
		 <mapper resource="/mappers/faq-mapper.xml" />
		 <mapper resource="/mappers/review-mapper.xml" />
		 <mapper resource="/mappers/maga-mapper.xml"/>
		 <mapper resource="/mappers/cart-mapper.xml"/>
		 <mapper resource="/mappers/order-mapper.xml"/>
	</mappers>



</configuration>